/* universal */

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  color: seashell;
  background-color: black;
  font-size: 22px;
  text-align: center;
}

div {
  display: block;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* header */

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
}
nav span {
  display: inline-flex;
  color: white;
  padding: 20px 10px;
  text-decoration: underline;
  justify-content: flex-start;
}

/* section one */

.sectionone h1 {
  width: 1200px;
}

#mission {
  height: 700px;
  padding-top: 70px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

#mission .sectionone {
  margin: auto;
  background-color: black;
  width: 100%
}

/* section two */

#sectiontwo {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
}

.flex-container .items {
  justify-content: center;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  margin: 10px;
  width: 300px;
  display: block;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

/* locations */

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  padding-top: 70px;
  height: 500px;
}

#locations .flex-container{
  margin: auto;
  width: 1100px;
}

.flex-container .locations {
  padding-top: 5px;
}

.location {
  opacity: 1;
  margin: 5px 20px;
  background-color: black;
  padding: 10px;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* footer */

#contact {
  height: 200px;
}

footer {
  padding-left: 20px;
  text-align: left;
}
